/* Establish color scheme */
:root {
    --cLightest: #edeef7;
    --cLightBlue: #81cece;
    --cDarker: #3f587a;
    --cDarkerBlue: #233d69;
    --cDarkest: #30343e;
}

/* Additional formatting for smaller screens */
@media only screen and (max-width: 995px) {
    h1 {
        font-size: 1.75rem;
    }

    .bottomLinx a {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 770px) {
    h1 {
        font-size: 1.25rem;;
    }

    .highlightedText1 {
        padding-top: 0 !important;
    }

    .highlightedText1 h2 {
        padding: 0 !important;
        font-size: 1.5rem !important;
    }
    
    .highlightedText1 p {
        padding: 0 !important;
        font-size: 1rem !important;
    }

}

@media only screen and (max-width: 575px) {
    .sideBorder {
        border-left: 0 !important;
        padding 105px !important;
    }

    .sectionHeader {
        text-align: center !important;
        font-size: 2rem;
    }

    .highlightedText1 h2 {
        word-wrap: break-word;
        padding: 0 !important;
        font-size: 1.25rem !important;
    }
}

main {
    font-size: 1.5rem;
}

nav .container-fluid {
    padding-left: 0px !important;
}

nav p {
    margin-top: 15px;
    padding: 0 30px 0 125px;
    font-size: 2.5rem !important;
    background-color: var(--cLightBlue);
    color: var(--cDarkest) !important;
}

nav a {
    font-size: 1.5rem;
    color: var(--cLightBlue);
    text-decoration: none !important;
    border-bottom-style:solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-width: 2px !important;
    border-color: var(--cLightBlue);
    margin-left: 15px !important;
}

nav a:hover {
    border-bottom-style: none !important;
}

.headerImage {
    background-image: url(../img/red_skyline.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.headerImage h2 {
    position: absolute;
    padding:10px;
    top: 35%;
    right: 10px;
    color: var(--cLightBlue);
    background-color: var(--cDarkest);
}

.sideBorder {
    border-left: 1px solid black;
    padding 105px !important;
}



.bottomLinx {
    height: 100px;
    text-align: center !important;
}

.bottomLinx a {
    color: var(--cDarker) !important;
}

.bottomLinx li {
    list-style-type: none !important;
    display: inline;
    padding: 50px;
    font-size: 1.5em;
}

.bottomLinx a:hover {
    text-decoration: none;
}


/* Highlighted Text takes care of the text overlay for the portfolio gallery. */
.highlightedText1 {
    position: absolute;
    z-index: 7;
    padding-top: 25%;
}

.highlightedText1 h2 {
    background-color: var(--cLightBlue);
    color: var(--cDarker);
    padding: 0 75px 0 15px;
}

.highlightedText1 p {
    background-color: var(--cLightBlue);
    color: var(--cDarkerBlue);
    padding: 0 75px 0 15px;
}

.highlightedText2 {
    position: absolute;
    z-index: 7;
    padding-top: 1%;
    font-size: 1rem;
}

.highlightedText2 h2 {
    background-color: var(--cLightBlue);
    color: var(--cDarker);
    padding-right: 15px;
}

.highlightedText2 p {
    background-color: var(--cLightBlue);
    color: var(--cDarkerBlue);
    padding: 0 0 0 0;
}
